layout {

    focus-ring {
        active-color   "#0f62fe"
        inactive-color "#f2f4f8"
        urgent-color   "#ee5396"
    }

    border {
        active-color   "#0f62fe"
        inactive-color "#f2f4f8"
        urgent-color   "#ee5396"
    }

    shadow {
        color "#ffffff70"
    }

    tab-indicator {
        active-color   "#0f62fe"
        inactive-color "#bad0f7"
        urgent-color   "#ee5396"
    }

    insert-hint {
        color "#0f62fe80"
    }
}

recent-windows {
    highlight {
        active-color "#0f62fe"
        urgent-color "#ee5396"
    }
}
