layout {

    focus-ring {
        active-color   "#adc6ff"
        inactive-color "#111319"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#adc6ff"
        inactive-color "#111319"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#adc6ff"
        inactive-color "#3671d3"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#adc6ff80"
    }
}

recent-windows {
    highlight {
        active-color "#adc6ff"
        urgent-color "#ffb4ab"
    }
}
