    window-rule {
        geometry-corner-radius 8
        clip-to-geometry true
    }

    window-rule {
        match app-id=".*"
        exclude app-id="org.kde.krita"
        opacity 0.92
        draw-border-with-background false
        background-effect {
            blur true
        }
    }

    window-rule {
        match app-id="org.kde.krita"
        opacity 1.0
        background-effect {
            blur false
        }
    }

    window-rule {
        match app-id="fcitx"
        open-floating true
    }

    // Keep Steam child windows and notifications out of the scrolling layout.
    window-rule {
        match app-id="steam"
        exclude title=r#"^[Ss]team$"#
        open-floating true
    }

    window-rule {
        match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
        default-floating-position x=10 y=10 relative-to="bottom-right"
        open-focused false
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }
